extends ../layouts/layout-sidebar

block content
  .container-fluid.flex-grow-1.container-p-y
    h4.font-weight-bold.py-3.mb-4= title
      .text-muted.text-tiny.mt-1
        small.font-weight-normal Сегодня, 19 июля 2021
    .card.mb-4
      .card-body
        .mb-3.row
          form(action="/scan", method="POST")
            .input-group.mb-3
              input(type="text" name="qrcode" class="form-control" placeholder="Введите значение")
              button(type="sumbit" class="btn btn-primary") Получить QR-code
        .mb-3.row 
          img(src="#{srs}" name="images" alt="")      

