doctype html 
html(lang="ru" class="default-style layout-offcanvas" dir="ltr")
  // Header
  include ../includes/include-header
  body
    .page-loader
      .bg-primary
    .layout-wrapper.layout-2
      .layout-inner

        // SIDEBAR
        include ../includes/include-sidebar
  
        .layout-container
          // NAVBAR 
          include ../includes/include-navbar

          
          .layout-content
            block content
    // Sripts        
    include ../includes/include-scripts
    script.
        function get_QR() {
            return axios
                .post("http://localhost/scan", {
                  qrcode: document.getElementById('qr_text').value
                })
                .then(function (response) {
                  document.getElementById('qr_img')
                    .setAttribute('src', response.data)
                })
                .catch(function (error) {
                    console.log(error);
                });
        }



