doctype html 
html(lang="ru")
  // Header
  include ../includes/include-header
  // -------- Page --------
  link(type="text/css" rel="stylesheet" href="assets/vendor/css/pages/authentication.css")
  body
    .page-loader
      .bg-primary
    .content
      block content
    // Srcipts  
    include ../includes/include-scripts
