doctype html 
html(lang="ru" class="default-style layout-offcanvas" dir="ltr")
  // Header
  include ../includes/include-header
  body
    .page-loader
      .bg-primary
    .layout-wrapper.layout-2
      .layout-inner

        // SIDEBAR
        include ../includes/include-sidebar
  
        .layout-container
          // NAVBAR 
          include ../includes/include-navbar
          
          .layout-content
            block content
    // Sripts        
    include ../includes/include-scripts


